:root {
  --fontcolor-menu: #4a4a4a;
  --color-background: #3cdbc0;
  --fontcolor-main: #ffffff;
  --font-family: "Rubik", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.logo {
  width: 155px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.menu {
  font-size: 16px;
  font-family: var(--font-family);
  padding-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
   text-transform: uppercase;
   color: var(--fontcolor-menu);

}

.list {
  list-style: none;
}
.link_style{
 color: var(--fontcolor-menu);
 text-decoration: none;
}
.menu_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}
.blog {
  padding-right: 20px;
}

.main {
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  font-family: var(--font-family);
  color: var(--fontcolor-main);
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {

 .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white; 
  
}

.logo {
 
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px; 
}

.main {
  
  font-size: 2.5rem;
  flex-wrap: wrap;
 
}

.contacto{
  margin-right: 30px; 

}
.title{
    word-break: break-all;
}