:root  {
  
  --fontcolor-menu: #4a4a4a;
  --color-background: #3CDBC0;
  --fontcolor-main: #FFFFFF ;
}
}
body{
    font-family: "Rubik", sans-serif;
}

.logo{
    width: 155px;
}

.menu{
    font-size: 16px;
}